.button-default {
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    font-weight: 500;

    &.dark {
        background:  #625B71;
        color: #FFFFFF;

        &:hover {
            background: #FFFFFF;
            color: #625B71;
        }
    }

    &.light {
        background: #FFFFFF;
        color: #625B71;

        &:hover {
            background:  #625B71;
            color: #FFFFFF;
        }
    }
}