html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', serif !important;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Faz com que o layout ocupe toda a altura da tela */
}

main {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    flex: 1;
}

.button-customer{
    color: #fff;
    background-color: #27667B;
    border: 1px;
    border-radius: 24px;
    width: 100%;
    height: 35px
}

/*                    ////////////////////////////          NAV //////////////////// */ 
.nav-principal {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
   
.button-customer1 {
    background-color: #2e677a; 
    color: white;
    padding: 8px 20px; 
    border: none;
    border-radius: 20px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    margin-right: 10px;
}
.nav-area-cliente1 {
    justify-content: flex-end;
}

.nav-area-cliente2 {
    justify-content: flex-end;
}

.bi.bi-people {
    margin-right: 10px;
    color: #000000;
}

.rounded-circle {
    margin-left: 5%;
    border-radius: 50%;
    width: 70px;
}

.nav-hamburger {
    font-size: 16px;
    font-weight: bolder;
}

.custom-close-btn {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
}

/*      ////////////////////////////  FOOTER ////////////////////// */

.footer {
    background-color: #5C4C3A;
    color: #FFFFFF;
    padding: 10px 0;
    vertical-align: unset;

    &.no-bullets li {
        font-weight: normal;
    }

    & a {
        color: #FFFFFF;
    }

    & img {
        width: 160px;
    }
}

.details {
    font-weight: normal;
}

.footer-items {
    font-size: 16px;
    font-weight: bolder;
    padding: 5px;
}

.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

.no-bullets li {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 5px;
    text-align: left;
}

.rounded-circle-footer {
    margin-left: 5%;
    border-radius: 50%;
    width: 25%;
}

.icon-container {
    display: flex;
    height: 40px;
    width: 40px;
    background: rgb(0 0 0 / 20%);

    & > svg {
        margin: auto;
    }
}

.list-group-contact {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}