.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 10%;
  gap: 10px;

  & input,
  select {
    display: block;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    width: 100%;
  }

  & span {
    color: red;
  }
}

.full-row {
  grid-column: 1 / -1;
}

.row-title {
  padding-top: 10px;
  border-bottom: 2px solid;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 20px;
}

.form-container {
  background: #efc483;
  width: 60vw;

  border-radius: 30px;
}

.form-container-header {
  background: #ecac4c;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
}

@media only screen and (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .form-container {
    width: 90vw;
    box-sizing: border-box;
  }

  .buttons-container {
    justify-content: center;
  }
}
