.nav-principal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.nav-area-cliente1{
    justify-content: flex-end;
}

.nav-area-cliente2{
    justify-content: flex-end;
}

.bi.bi-people {
    margin-right: 10px;
    color: #000000;
}

.rounded-circle {
    margin-left: 5%;
    border-radius: 50%;
    width: 70px;
}

.nav-hamburger {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

.custom-close-btn {
    width: 40px; 
    height: 40px; 
    font-size: 1.5rem; 
  }
  