#div-principal-customer{
    text-align: center;
}

.card-creat-account, .card-login-account {
    height: 400px !important;
    width: 300px !important;
    border-radius: 24px;
    background-color: #f0ac4c; 
    padding: 20px;
}


.card-login-account{
    margin-left: 1px;
}


.card-login-account input{
    margin-top: 15px;
}

.card-login-account input::placeholder{
    font-size: 12px;
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif
}

.card-login-account ::placeholder{
    font-style: italic;
}

.img-pet{
    width: 35%;
}

.text-creat-account{
    font-size: 16px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.button-customer-area{
    margin-top: 50%;
}

#questionario-adotante label{
    margin-top: 3%;
}


#questionario-adotante select {
    width: 50%;
}

#questionario-adotante {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}